* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    min-height:100vh;
    background: linear-gradient(339deg, rgb(23, 0, 126) 20%, rgb(74, 0, 136) 80%);
    display:flex;
    justify-content: center;
    align-items: center;
}