* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    min-height:100vh;
    background: linear-gradient(339deg, rgb(34,193,195,1) 0%, rgb(253,187,45,1) 100%);
    display:flex;
    justify-content: center;
    align-items: center;
}